
@import '../base/mixins';
@import '../base/variables';

body{
 background-color: $main-color;
 margin: 0;
}
.main{
  @include box(100%, 200px);
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  background-color: $third-color;
}
.block{
  @include box(75px, 200px);
  display: flex;
  background-color: whitesmoke;
  border: {
  right: 0.5px solid lightgrey;
  top: 0.5px solid lightgrey;
  bottom: 0.5px solid lightgrey;
  };

.logo{
  @include box(75px, 200px);
  background-color: $second-color;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 9;
  transition: 2s;
  img{
    @include box(35px, 35px);
    padding: 20px;
  }
}
.mover{
  @extend .logo;
  @include box(0, 200px);
  visibility: hidden;
  transition: 1s;
  img{
    @include box(0px, 0px);
    visibility: hidden;
  }
  &-twitter{
    background-color: rgb(51, 174, 245);
  }
  &-facebook{
    background-color: rgb(23, 67, 212);
  }
  &-linkedin{
    background-color: rgb(29, 117, 175);
  }
  &-instagram{
    background-color: rgb(26, 134, 23);
  }
  &-youtube{
    background-color: rgb(172, 18, 13);
  }
  &-tumblr{
    background-color: rgb(33, 51, 110);
  }
  &-drib{
    background-color: rgb(218, 74, 146);
  }
}
.text{
  @include box(420px, 100%);
  visibility: hidden;
  height: 100%;
  width: 420px;
  transition: 2s;
  transform: translateX(-50%);
  padding-right: 10px;
  padding-left: 10px;

  .bold-text{
    width: 420px;
    overflow: hidden;
    visibility: hidden;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
    font: {
      family: sans-serif;
      weight: normal;
      size: 30px;
    }
  
  }
  .smth-text{
    overflow: hidden;
    visibility: hidden;
    width: 420px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
  
  }
}
&:hover .text{
  transform: translateX(-20%);
  visibility: visible;
  display: block;
}
&:hover .text .bold-text, &:hover .text .smth-text{
  transform: translateX(0);
  visibility: visible;
  display: block;
  
}

&:hover {
width: 500px;
border: none;
}
&:hover .logo{
  visibility: hidden;
}
&:hover .mover{
  transform: translateX(-100%);
  visibility: visible;
  width: 75px;
}
&:hover .mover img{
  height: 40px;
  width: 40px;
  visibility: visible;
 
}
} 



